.button {
    width: 11.5625rem;
    height: 4.375rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    border: 3px solid #B0D9D6;
    background: #D5F0D3;
    box-shadow: -2px 7px 6px 3px rgba(0, 0, 0, 0.25);

    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    transition: 0.3s;
}

.button:hover {
    background-color: #E7FFE5;
}

.button:disabled {
    width: 32px;
    height: 32px;
    border: 10px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-top: 10px solid white;
    animation: spin 2s infinite linear;
    cursor: not-allowed;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}