:root {
  --background-color: #CEFFFC;
  --interaction-color: #D5F0D3;
  --border-color: #B0D9D6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Secular One, sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vh;
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

p {
  font-size: 2rem;
  margin: 10rem auto 0;
}